---
layout: archive
title: "Posts by Collection"
permalink: /collection-archive/
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  
  {% unless collection.output == false %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    
    <!-- 显示每个集合 -->
    {% if label != written_label %}
      <!-- <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2> -->
      <h2 id="{{ label | slugify }}" class="archive__subtitle">
        <a href="/{{ label | slugify | downcase }}/">{{ label }}</a>
      </h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}

    <!-- 在每个集合中显示分类 -->
    <ul>
      {% assign displayed_categories = "" | split: ", " %}
      {% for post in collection.docs %}
        {% if post.categories %}
          {% for category in post.categories %}
            {% unless displayed_categories contains category %}
              <li>
                <a href="/categories/{{ category | remove: '"' | strip | slugify | downcase }}/">{{ category | remove: '"' | strip }}</a>
              </li>
              {% assign displayed_categories = displayed_categories | push: category %}
            {% endunless %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>

  {% endunless %}

{% endfor %}