---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYearMonth = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y-%m"' %}
  {% for year_month in postsInYearMonth %}
    <li>
      <a href="#{{ year_month.name }}">
        <strong>{{ year_month.name }}</strong> <span class="taxonomy__count">{{ year_month.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYearMonth = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y-%m"' %}
{% for year_month in postsByYearMonth %}
  <section id="{{ year_month.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year_month.name | date: "%B %Y" }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in year_month.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
